:root {
    --fontFamily: 'Segoe UI'
}
body {
    display: grid;
    place-items: center;
    background-color: #12343B;
}
#filter {
    color: white;
    font-family: var(--fontFamily);
}
.colorFilter {
    margin: 1rem 2rem;
    border: 1px solid white;
}
.colorFilter:hover, .palette:hover, label:hover {
    cursor: pointer
}
.hidden {
    position: absolute;
    opacity: 0;
    height: 0px;
    display: none;
    visibility: hidden;
}
.color {
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1.25px black;
    font-size: 200%;
    font-family: var(--fontFamily);
    padding: 0.15vw 3vw;
    margin: 0.15rem;
    border: 0.5px solid grey;
}

.palette {
    border: 2px solid black;
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    width: 80vw;
}

.paletteBackground {
    width: 50vw;
    height: 30%;
    border-radius: 50px;
    transform: translateX(-10%);
    border: 2px solid black;
}

.paletteInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    font-family: Impact;
    letter-spacing: 1px;
}

@media screen and (max-width: 1000px) {
    body .color {
        padding: 0.1vw 1vw;
    }
}


@media screen and (max-width: 750px) {
    body .color {
        font-size: 150%;
    }
    body .palette {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    }
    body .paletteBackground {
        max-width: 250px;
        transform: none;
        margin: 0.5rem;
    }
}

@media screen and (max-width: 400px) {
    body .paletteBackground {
        width: 200px;
    }
    body .color {
        -webkit-text-stroke: 0.5px black;
    }
    body .palette {
        position: relative;
        display: grid;
        place-items: center;
    }
    body .paletteTitle {
        position: absolute;
        top: -10px;
        font-size: 1.5rem;
    }
}