:root {
    --fontFamily: 'Segoe UI'
}
body {
    display: grid;
    place-items: center;
    background-color: #12343B;   
}
#welcomePage {
    display: grid;
    place-items: center;
    padding: 10%;
}
.welcomePageBtn {
    padding: 1rem;
    margin: 1rem;
    font-weight: bold;
    font-size: 3rem;
    font-family: var(--fontFamily);
    border: 2px solid white;
    background-color: transparent;
    color: white;
}
#backBtn {
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    color: white;
    padding: 0.25rem 1rem;
    border: 2px solid white;
    font-family: Impact;
    letter-spacing: 1px;
}
.hidden {
    position: absolute;
    opacity: 0;
    height: 0px;
    display: none;
    visibility: hidden;
}



/**                 PALETTES               **/



#filter {
    color: white;
    font-family: var(--fontFamily);
}
.colorFilter {
    margin: 1rem 2rem;
    border: 1px solid white;
}
.colorFilter:hover, .palette:hover, label:hover, button:hover {
    cursor: pointer
}
.color {
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1.25px black;
    font-size: 200%;
    font-family: var(--fontFamily);
    padding: 0.15vw 3vw;
    margin: 0.15rem;
    border: 0.5px solid grey;
}
.palette {
    border: 2px solid black;
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    width: 80vw;
}
.paletteBackground {
    width: 50vw;
    height: 30%;
    border-radius: 50px;
    transform: translateX(-10%);
    border: 2px solid black;
}
.paletteInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    font-family: Impact;
    letter-spacing: 1px;
}


/**                   LAYOUTS                  **/



#layoutPaletteInput {
    width: 40vw;
    height: 2rem;
}

.layoutContainer {
    /* border: white 1px solid; */
    min-height: 10vh;
}
#carousel { display: flex; align-items: center }
#templateContainer {
    /* border: 1px solid orange; */
    width: 35vw;
    aspect-ratio: 1;
    position: relative;
    display: grid;
    place-items: center;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Segoe UI';
    font-size: 110%;
    font-weight: bold;
}
.template {
    position: relative;
    height: 90%;
    box-sizing: border-box;
    /* border: 1px solid beige; */
    /* border: 12px solid red; */
    background-color: white;
}
#thirdPage {
    background-color: white;
}
.tempObj { 
    color: black; 
    position: absolute; 
    display: grid; 
    place-items: center;
    font-size: 125%; 
    font-weight: bold;
}


#standardTemplate { width: 55vw; height: 65vh; position: relative; right: 50%; transform: translateX(25%); }
#standardTemplate .tempHead { top: 0; height: 10%; width: 100% }
#standardTemplate .tempHero { top: 10%; height: 50%; width: 100% }
#standardTemplate .tempBody { top: 60%; height: 30%; width: 100% }
#standardTemplate .tempFoot { bottom: 0; height: 10%; width: 100% }

#brochureTemplate { width: 160%; left: -50%; }
#brochureTemplate .tempObj { position: absolute; }
#brochureTemplate .tempHead { top: 0; width: 25%; aspect-ratio: 1; z-index:1 ; left: 1rem; top: 1rem }
#brochureTemplate .tempHero { bottom: 1rem; left:1rem; height: 60%; width: 40%; z-index: 1 }
#brochureTemplate .tempFoot { top: 1rem; height: 15%; right: 0.75rem; width: 45%; z-index: 2 }
#brochureTemplate #firstPage { bottom: 0; height: 100%; width: 50%; z-index: 0; border: 1px solid rgb(40, 40, 40); box-sizing: border-box; }
#brochureTemplate #secondPage { bottom: 0; height: 100%; width: 50%; right: 0; z-index: 0; border: 1px solid rgb(40, 40, 40); box-sizing: border-box }
#brochureTemplate #thirdPage { bottom: 0; height: 100%; width: 50%; right: -50%; z-index: 0; border: 1px solid rgb(40, 40, 40); box-sizing: border-box }

#illustrativeTemplate { width: 60vw; height: 65vh; position: relative; left: 50; transform: translateX(-25%);}
#illustrativeTemplate .tempObj { position: absolute; }
#illustrativeTemplate .tempHead { top: 1rem; left: 1rem; width: 20%; aspect-ratio: 1 ; z-index: 1}
#illustrativeTemplate .tempHero { top: 0; height: 60%; width: 100% }
#illustrativeTemplate .tempBody { top: 60%; height: 40%; width: 100% }
#illustrativeTemplate .tempFoot { bottom: 1rem; right: 1rem; width: 20%; aspect-ratio: 1; }

#newsletterTemplate { width: 100%; height: 300%; top: 115%; }
#newsletterTemplate .tempObj { left: 50%; transform: translateX(-50%); position: absolute; }
#newsletterTemplate .tempHead { top: 2%; height: 25%; width: 90% }
#newsletterTemplate .tempHero { top: 30%; height: 50%; width: 90% }
#newsletterTemplate .tempBody { bottom: 7%; height: 20%; width: 90% }
#newsletterTemplate .tempFoot { bottom: 1%; height: 4%; width: 90%; }

#actionTemplate { width: 60vw; height: 65vh; position: relative; right: 50%; transform: translateX(25%); }
#actionTemplate .tempObj { position: absolute }
#actionTemplate .tempHero { top: 0; left: 0; height: 100%; width: 100%; z-index: 1 }
#actionTemplate .tempAction { bottom: 1rem; bottom: 2rem; height: 20%; width: 60% ; z-index: 2; left: 50%; transform: translateX(-50%); }

#canvasTemplate { width: 60vw; height: 65vh; position: relative; right: 50%; transform: translateX(25%); }
#canvasTemplate .tempObj { position: absolute }
#canvasTemplate .tempHero { top: 0; left: 0; height: 100%; width: 100%; z-index: 1 }
#canvasTemplate .tempAction { bottom: 1rem; bottom: 2rem; height: 20%; width: 60% ; z-index: 2; left: 50%; transform: translateX(-50%); }

#generateLayoutBtn {
    color: green;
    padding: 1rem;
    border: 2px solid grey;
    font-weight: bold;
}

#layoutPage { color: white; font-family: Impact; letter-spacing: 0.25px; }


@media screen and (max-width: 1300px) {
    body .color {
        padding: 0.1vw 1vw;
    }
}


@media screen and (max-width: 1000px) {
    body .color {
        font-size: 130%;
    }
    body .palette {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    }
    body .paletteBackground {
        max-width: 250px;
        transform: none;
        margin: 0.5rem;
    }
}

@media screen and (max-width: 400px) {
    body .paletteBackground {
        width: 200px;
    }
    body .color {
        -webkit-text-stroke: 0.5px black;
    }
    body .palette {
        position: relative;
        display: grid;
        place-items: center;
    }
    body .paletteTitle {
        position: absolute;
        top: -10px;
        font-size: 1.5rem;
    }
}